body{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    background: white;
    align-items: center;
    padding: auto;
    flex-direction: column;
}

hr{
    color: black;
}